<tr>
    <td class="px-4 py-2">{{ a.sigla }}</td>
    <td class="px-4 py-2">{{ a.nombre }}</td>
    <td class="px-4 py-2">{{ a.seccion }}</td>
    <td class="px-4 py-2">
        {% if a.docente and a.docente|lower != "nan" %}
            {{ a.docente }}
        {% else %}
            <span class="italic text-gray-400">No asignado</span>
        {% endif %}
    </td>
    <td class="px-4 py-2">
        {% for h in a.horarios.all %}
            {{ h.dia }} {{ h.hora_inicio|time:"H:i" }} - {{ h.hora_fin|time:"H:i" }}<br>
        {% endfor %}
    </td>
    <td class="px-4 py-2">
        {% if a.virtual_sincronica == "True" %}
            <span class="text-green-600 font-semibold">Sí</span>
        {% else %}
            <span class="text-gray-500">No</span>
        {% endif %}
    </td>
    <td class="px-4 py-2">
        <button class="bg-sky-600 hover:bg-sky-700 text-white text-xs px-3 py-1 rounded seleccionar-btn"
                data-id="{{ a.id }}"
                data-sigla="{{ a.sigla }}"
                data-virtual="{{ a.virtual_sincronica }}"
                data-nombre="{{ a.nombre }}"
                data-seccion="{{ a.seccion }}"
                data-horarios='[
                    {% for h in a.horarios.all %}
                        {"dia": "{{ h.dia }}", "inicio": "{{ h.hora_inicio|time:"H:i" }}", "fin": "{{ h.hora_fin|time:"H:i" }}"}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                ]'>
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
        </button>
    </td>
</tr>
