<form method="get" id="filtros-form" 
    class="hidden md:grid grid-cols-2 md:grid-cols-4 gap-4">
    
    {% if request.GET.sede %}
        <input type="hidden" name="sede" value="{{ request.GET.sede }}">
    {% endif %}
    {% include "includes/filtro_select.html" with id="carrera" label="Carrera" opciones=carreras selected=request.GET.carrera %}
    {% include "includes/filtro_select.html" with id="jornada" label="Jornada" opciones=jornadas selected=request.GET.jornada %}
    {% include "includes/filtro_select.html" with id="nivel" label="Nivel" opciones=niveles selected=request.GET.nivel %}
    {% include "includes/filtro_asignatura.html" %}
</form>